$color-white: #FFFFFF;
$color-header-icon: #f2f3f5;
$color-cardf9: #F9F9F9;
$color-cardf2: #F2F2F2;
$colorf5: #F5F5F5;
$colorf7: #F7F7F7;
$colorfio42:#4200FF;
$color919EAB:#919EAB;
$colorDFE3E8:#DFE3E8;
$colorblack:#000000;
$colorfooter:#2F2F2F;


%ff {
    font-family: 'DM Sans';
   
}

%vwb {
    position: absolute;
    padding: 10px 30px 29px 260px
}