.wrapper {
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


@font-face {
    font-family: 'DMSans';
    src: url(../assets/fonts/DMSans-Regular.ttf);
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

h1 {
    @extend %ffD;
    line-height: 42px;
    letter-spacing: -0.005em;
    color: $colorblack;
    font-weight: 500;
    font-size: 32px;

}

h2 {
    @extend %ffD;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: $colorblack;
}

h3 {
    @extend %ffD;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $colorblack;
}

h4 {
    @extend %ffD;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: $colorblack;
}

h5 {
    @extend %ffD;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

h6 {
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 22px;

color: #000000;

}