.footer {
    width: 1440px;
    height: 311px;
    background-color: $colorfooter;

    &-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 80px 100px 80px;
        width: 1280px;
        height: 311px;
    }

    &-logo {
        width: 147px;
        height: 21px;

        & img {
            margin-bottom: 10px;
        }
    }

    &-number {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;

        & a {
            text-decoration: none;
            color: $color-white ;
        }
    }

    &-title {
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        height: 60px;

        &-text {
            @extend %footer-title-text;
        }
    }

    &-subtitle {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 200%;
        color: $color-white;
    }

    &-vector {
        width: 256px;
        height: 68px;
       

        &-title {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;   
        }


        &-icon {
            width: 30px;
            height: 30px;
            margin-right: 26px;

            & :last-child {
                margin-right: 0;
            }
        }
    }
}